*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    background: #484F5B;
    color: white;
    height: 100px;
}

.fa-bars{
    visibility: hidden;
}

.logo{
    width: 170px;
    cursor: pointer;
}

.menu-nav{
    display: none;
}

.nav-menu{
    align-self: center;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}
.list-menu{
    display: inline-flex;
    list-style: none;
}

.btn-menu{
    border: none;
    background: transparent;
    cursor: pointer;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.item-menu:hover{
    border-bottom: 3px solid #B4846C;
}

.home-menu{
    border-bottom: 3px solid #B4846C;
}

.home-menu:hover{
    border-bottom: none;
}

.item-menu{
    margin-right: 40px;
    cursor: pointer;
    font-size: 20px;
}

.icon-header{
    margin-top: 7px;
    color: white;
}

.icon-header:visited{
    color: #ffffff;
}

.menu-lista{
    display: none;
    background: #484F5B;
    position: absolute;
    right: 0;
    top: 98.99px;
    list-style: none;
    min-width: 35%;
    max-height: 37%;
}

.btn-menu-hambur{
    background: transparent;
    color: white;
    border: none;
    font-size: 17px;
}

.item-menu-hambur{
    padding: 7px;
}

.icon-header-hambur{
    display: flex;
    align-items: center;
}

.texto-hambur{
    margin-left: 5px;
}

.banner{
    text-align: center;
    min-width: 100%;
    background-image: url("../assets/banner1.jpg");
    object-fit: cover;
    image-rendering: pixelated;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-1{
    width: 100%;
}

.banner-text{
    position: relative;
    float: right;
    width: 45%;
    padding: 20px;
    color: white;
    text-align: left;
    margin-top: 7%;
}

.titulo-banner{
    font-size: 55px;
    text-align: left;
}

.somos-banner{
    background-image: url("../assets/a1.png");
}

.cursos-banner{
    background-image: url("../assets/4.png");
}

.banner-cursos{
    width: 35%;
}

.description{
    padding-top: 20px;
    font-size: 20px;
    text-align: left;
}

.cursos-title{
    text-align: center;
    padding: 35px;
    height: 125px;
    font-size: 50px;
    margin-bottom: 63px;
    color: #B4846C;
}

.titulo-home{
    margin: 0;
}

.somos-content{
    display: flex;
    justify-content: center;
    margin-top: 63px;
}

.quienes-somos-title{
    background: #B4846C;
    color: white;
    width: 65%;
    height: 20%;
    font-weight: bold;
    font-size: 22px;
    padding: 20px;
    position: relative;
}

.linea-titulo{
    border: 4px solid white;
    background: white;
    width: 30px;
    margin-bottom: 20px;
    margin-left: 8px;
}

.descr-somos{
    font-size: 30px;
    margin-left: 10px;
    padding-top: 5px;
}

span{
    font-weight: bold;
}

.background{
    background: #ECD8C9;
    width: 86%;
    height: 130px;
    position: absolute;
    left: 7%;
    z-index: -1;
    top: 143%;
}

#cursos-container{
    display: none;
}

.cursos-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    padding: 0 10%;
    align-items: baseline;
}

.card{
    text-align: center;
    border: 1px solid #A1A9B0;
    background: border-box;
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
    height: 105%;
}

.imagen-curso{
    width: 100%;
    height: 260px;
}

hr{
    border: 2px solid #B4846C;
    background: #B4846C;
    /* margin-bottom: 20px; */
    width: 85%;
    margin-left: 22px;
}

.titulo-curso{
    padding: 20px;
    color: #B4846C;
}

.texto-curso{
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px 41px;
    color: rgb(196, 191, 191);
    height: 25%;
    /* min-height: 171px; */
}

.btn-ver-mas{
    background: #B4846C;
    border: none;
    height: 35px;
    width: 90px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-medio{
    margin-top: 25px;
}

.imagen-mision{
    width: 35%;
}

.card-mision{
    display: inline-flex;
    position: relative;
    left: 7%;
    width: 86%;
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
}

.title-mision{
    padding: 20px;
    color: #B4846C;
}

.text-mision{
    padding-top: 20px;
    padding-left: 20px;
    color: grey;
}

.cursos-bg{
    top: 125%;
}

.card-curso{
    display: flex;
    background: white;
    max-width: 78%;
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
    align-items: center;
    height: 255px;
    margin-left: 11%;
    margin-top: 6%;
}

#cursos-texto {
    padding-left: 21px;
    padding-right: 5px;
    padding-bottom: 10px;
}

#hr-separador {
    border: 2px solid #B4846C;
    background: #B4846C;
    width: 70%;
    margin-left: 20px;
}

#curso-titulo{
    color: #B4846C;
    padding-left: 20px;
    /* padding-bottom: 5px; */
    float: left;
}

.curso-titulo-dif{
    padding-bottom: 50px;
}

#card-curso{
    height: 100%;
}

.imagen-cursos{
    width: 25%;
}

.card-descripcion-curso1,
.card-descripcion-curso2,
.card-descripcion-curso3{
    display: inline-flex;
    width: 78%;
    margin-left: 11%;
    margin-top: 3%;
    height: 100%;
}

#closeModal1,
#closeModal2,
#closeModal3{
    display: none;
}
.descrip-cursos{
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
    margin: 15px;
    width: 50%;
    margin-top: 0;
}
/* 
.curso-titulo{
    text-align: center;
} */

.cursos-bg2{
    top: 230%;
    background: #A6826E;
}
.curso2{
    display: flex;
    height: 100%;
}

.descripcion-cursos{
    width: 70%;
    margin: 0;
}

.imagen-cursos2{
    width: 30%;
}
/* 
.descrip2{
    height: 460px;
} */

.cursos-bg3{
    top: 364%;
}

.img-curso3{
    height: 100%;
}

/* .descrip3{
    height: 415px;
} */

.footer{
    text-align-last: center;
    /* height: 85px; */
    background: #484F5B;
    margin-top: 60px;
    color: white;
}

.nav-menu-footer{
    display: inline-flex;
    align-items: center;
    list-style: none;
}

.item-footer{
    padding: 10px;
    cursor: pointer;
}

.fa-footer{
    font-size: xx-large;
}

.fa-footer:visited{
    color: white;
}
