*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    background: #484F5B;
    color: white;
}

.fa-bars{
    visibility: hidden;
}

.logo{
    width: 170px;
    cursor: pointer;
}

.menu-nav{
    display: none;
}

.nav-menu{
    align-self: center;
}

a{
    text-decoration: none;
}
.list-menu{
    display: inline-flex;
    list-style: none;
}

.btn-menu{
    border: none;
    background: transparent;
    cursor: pointer;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.item-menu:hover{
    border-bottom: 3px solid #B4846C;
}

.home-menu{
    border-bottom: 3px solid #B4846C;
}

.home-menu:hover{
    border-bottom: none;
}

.item-menu{
    margin-right: 40px;
    cursor: pointer;
    font-size: 20px;
}

.icon-header{
    margin-top: 7px;
    color: white;
}

.icon-header:visited{
    color: white;
}

.banner{
    text-align: center;
    min-width: 100%;
    background-image: url("/assets/banner1.jpg");
    object-fit: cover;
    image-rendering: pixelated;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-1{
    width: 250px;
}

.banner-text{
    position: relative;
    float: right;
    width: 45%;
    padding: 20px;
    color: white;
    text-align: left;
    margin-top: 8%;
}

.titulo-banner{
    font-size: 65px;
    text-align: left;
}

.somos-banner{
    background-image: url("/assets/a1.png");
}

.cursos-banner{
    background-image: url("/assets/4.png");
}

.description{
    padding-top: 20px;
    font-size: 20px;
    text-align: left;
}

.cursos-title{
    text-align: center;
    padding: 35px;
    height: 125px;
    font-size: 50px;
    margin-bottom: 63px;
}

.quienes-somos-title{
    background: #B4846C;
    color: white;
    width: 65%;
    margin-left: 160px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    padding-top: 20px;
    left: 8%;
    position: relative;
}

.linea-titulo{
    border: 4px solid white;
    background: white;
    width: 30px;
    margin-bottom: 20px;
    margin-left: 8px;
}

.descr-somos{
    font-size: 30px;
    margin-left: 10px;
    padding-top: 5px;
}

span{
    font-weight: bold;
}

.background{
    background: #ECD8C9;
    width: 86%;
    height: 130px;
    position: absolute;
    left: 7%;
    z-index: -1;
    top: 135%;
}

.cursos-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    padding: 0 10%;
    align-items: baseline;
}

.card{
    text-align: center;
    border: 1px solid #A1A9B0;
    background: border-box;
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
    height: 660px;
}

.imagen-curso{
    width: 100%;
    height: 260px;
}

hr{
    border: 2px solid #B4846C;
    background: #B4846C;
    margin-bottom: 20px;
    width: 85%;
    margin-left: 22px;
}

.titulo-curso{
    padding: 20px;
    color: #B4846C;
}

.texto-curso{
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 41px;
    color: rgb(196, 191, 191);
    min-height: 171px;
}

.btn-ver-mas{
    background: #B4846C;
    border: none;
    height: 35px;
    width: 90px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-medio{
    margin-top: 23px;
}

.imagen-mision{
    width: 450px;
}

.card-mision{
    display: inline-flex;
    position: relative;
    left: 7%;
    width: 86%;
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
}

.title-mision{
    padding: 40px 50px 10px 65px;
    color: #B4846C;
}

#separator{
    margin-bottom: 5px;
}

.text-mision{
    width: 67%;
    padding: 8px 0px 0 70px;
    font-size: 20px;
    color: grey;
}

.cursos-bg{
    top: 125%;
}

.card-curso{
    display: flex;
    background: white;
    max-width: 78%;
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
    align-items: center;
    height: 255px;
    margin-left: 11%;
    margin-top: 6%;
}

.cursos-texto{
    margin: 0;
    padding-left: 20px;
}

.imagen-cursos{
    width: 25%;
}

.card-descripcion-curso{
    display: inline-flex;
    width: 78%;
    margin-left: 11%;
    margin-top: 3%;
}

.descrip-cursos{
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
    margin: 15px;
    width: 50%;
    margin-top: 0;
}

.curso-titulo{
    text-align: center;
}

.cursos-bg2{
    top: 230%;
    background: #A6826E;
}
.curso2{
    display: flex;
    height: 100%;
}

.descripcion-cursos{
    width: 70%;
    margin: 0;
}

.imagen-cursos2{
    width: 30%;
}

.descrip2{
    height: 460px;
}

.cursos-bg3{
    top: 364%;
}

.img-curso3{
    height: 100%;
}

.descrip3{
    height: 415px;
}

.footer{
    text-align-last: center;
    /* height: 85px; */
    background: #484F5B;
    margin-top: 60px;
    color: white;
}

.nav-menu-footer{
    display: inline-flex;
    align-items: center;
    list-style: none;
}

.item-footer{
    padding: 25px;
    cursor: pointer;
}

.fa-footer{
    font-size: xx-large;
}

.fa-footer:visited{
    color: white;
}

/* Responsive */

@media screen and (min-width: 2011px) {    
    .btn-menu{
        font-size: 23px;
    }

    .logo{
        width: 200px;
    }
    .titulo-banner{
        font-size: 80px;
    }
    .description{
        font-size: 29px;
    }

    .imagen-curso {
        height: 355px;
    }

    .titulo-curso{
        font-size: 40px;
    }

    .card{
        height: 870px;
    }
    .texto-curso{
        font-size: 25px;
    }
    .background{
        top: 132%;
    }
    .btn-ver-mas{
        width: 100px;
        height: 42px;
        font-size: 17px;
    }
}

@media screen and (min-width: 1747px){
    .texto-curso {
        font-size: 20px;
    }
    .card {
        height: 830px;
    }
    .imagen-curso {
        height: 330px;
    }
}

@media screen and (min-width: 1639px){
    .titulo-banner {
        font-size: 75px;
    }

    .description {
        font-size: 23px;
    }
}

@media screen and (min-width: 1631px){
    .titulo-curso {
        font-size: 35px;
    }
    .imagen-curso {
        height: 320px;
    }
    .background {
        top: 140%;
    }
}

@media screen and (max-width: 1487px){
    .banner-text{
        margin-top: 5%;
    }
    .titulo-banner {
        font-size: 55px;
    }
    .imagen-curso {
        height: 295px;
    }
    .titulo-curso {
        font-size: 30px;
    }
    .texto-curso {
        font-size: 18px;
    }
    .card {
        height: 712px;
    }
}

@media screen and (min-width: 1394px){
    .card {
        height: 712px;
    }
    .btn-ver-mas {
        font-size: 16px;
    }
    .titulo-curso {
        font-size: 25px;
    }
    .imagen-curso {
        height: 270px;
    }
}

@media screen and (min-width: 1381px){
    .card {
        height: 712px;
    }
    .btn-ver-mas {
        font-size: 16px;
    }
    .titulo-curso {
        font-size: 25px;
    }
    .imagen-curso {
        height: 270px;
    }
}

@media screen and (min-width: 1357px){
    .card {
        height: 712px;
    }
    .btn-ver-mas {
        font-size: 16px;
    }
    .titulo-curso {
        font-size: 25px;
    }
    .imagen-curso {
        height: 270px;
    }
}

@media screen and (max-width: 885px) {
    .cursos-cards{
        grid-template-columns: auto;
        grid-row-gap: 50px;
    }
    .banner-text{
        width: 48%;
    }
}

@media screen and (max-width: 1150px) {
    .banner-text{
        width: 48%;
    }
}
@media screen and (max-width: 1075px) {
    .banner-text{
        width: 51%;
    }
    
}
@media screen and (width: 1280px) {
    .banner-text {
        margin-top: 13%;
    }
    .description {
        font-size: 24px;
    }
    .imagen-curso {
        height: 250px;
    }
    .background{
        top: 131%;
    }
}

@media screen and (min-width: 1022px) and (max-width: 1070px) {
    .titulo-banner {
        font-size: 72px;
    }
    .description {
        font-size: 29px;
    }
    .banner-text {
        margin-top: 25%;
    }
    .item-menu {
        font-size: 30px;
    }
    /* .imagen-curso {
        height: 240px;
    }
    .texto-curso {
        font-size: 14px;
    }
    .titulo-curso {
        font-size: 24px;
    }
    .card {
        height: 660px;
    }
    .background{
        top: 119%;
    } */
    .cursos-cards {
        grid-template-columns: auto;
        grid-row-gap: 50px;
    }
    .card {
        height: 945px;
        justify-self: center;
    }
    .background{
        top: 119%;
    }
    .imagen-curso {
        height: 510px;
    }
    .titulo-curso {
        font-size: 45px;
    }
    .texto-curso {
        font-size: 30px;
    }
    .btn-ver-mas {
        height: 50px;
        width: 120px;
        font-size: 20px;
    }
}

@media screen and (max-width: 1015px) {
    .description {
        font-size: 18px;
    }
    .titulo-banner {
        font-size: 50px;
    }
    .banner-text{
        margin-top: 10%;
        width: 48%;
    }
}

@media screen and (max-width: 847px) {
    .description {
        font-size: 16px;
    }
    .titulo-banner {
        font-size: 45px;
    }
}

@media screen and (max-width: 771px) {
    .description {
        font-size: 14px;
    }
    .titulo-banner {
        font-size: 38px;
    }
    .item-menu {
        margin-right: 25px;
    }
}

@media screen and (min-width: 765px) and (max-width: 770px){
    .imagen-curso {
        height: 355px;
    }
    .card {
        height: 730px;
    }
    .titulo-curso {
        font-size: 30px;
    }
    .texto-curso {
        font-size: 23px;
    }
    .background{
        top: 125%;
    }
    .titulo-banner {
        font-size: 45px;
    }
    .description {
        font-size: 22px;
    }
    .banner-text {
        margin-top: 28%;
    }
}

@media screen and (max-width: 665px) {
    .description {
        font-size: 12px;
    }
    .titulo-banner {
        font-size: 35px;
    }
    .banner-text {
        margin-top: 12%;
    }
}

@media screen and (max-width: 650px) {
    .nav-menu{
        display: none;
    }
    .header{
        padding-bottom: 10px;
    }
    .fa-bars{
        visibility: visible;
        font-size: 30px;
    }
}

@media screen and (max-width: 620px) {
    .description {
        font-size: 10px;
    }
    .titulo-banner {
        font-size: 29px;
    }
    .banner-text {
        margin-top: 14%;
    }
}

@media screen and (min-width: 539px) and (max-width: 600px) {
    .titulo-banner {
        font-size: 35px;
    }
    .description {
        font-size: 16px;
    }
    .banner-text {
        margin-top: 23%;
    }
}

@media screen and (min-width: 320px) {
    .item-footer{
        padding: 10px;
    }
}

@media screen and (min-width: 319px) and (max-width: 360px){
    .titulo-banner {
        font-size: 25px;
    }
    .description {
        font-size: 15px;
    }
    .background {
        top: 144%;
    }
    .imagen-curso {
        height: 196px;
    }
    .imagen-curso {
        height: 185px;
    }
}

@media screen and (min-width: 324px) and (max-width: 412px) {
    .description {
        font-size: 15px;
    }
    .imagen-curso {
        height: 275px;
    }
    .background{
        top: 131.5%;
    }
}

@media screen and (min-width:360px) and (max-width: 370px){
    .card{
        height: 640px;
    }
    .imagen-curso{
        height: 240px;
    }
    .item-footer{
        padding: 10px;
    }
    .description{
        font-size: 13px;
    }
    .texto-curso{
        font-size: 15px;
    }
    .titulo-curso {
        font-size: 25px;
    }
}

@media screen and (min-width: 279px) and (max-width: 300px) {
    .item-footer {
        padding: 7px;
    }
    .titulo-banner {
        font-size: 22px;
    }
    .banner-text {
        margin-top: 38%;
    }
    .imagen-curso {
        height: 200px;
    }
    .card {
        height: 790px;
    }
}
/* 
@media screen and (min-width: 375px) {
    .nav-menu{
        display: none;
    }
    .banner-text{
        top: 45%;
        left: 18%;
    }
    .titulo-banner{
        font-size: 25px;
    }
    .cursos-cards{
        grid-template-columns: auto;
    }
} */